@model Facturita.Core.Models.Producto

@{
    ViewData["Title"] = "Eliminar Producto";
}

<h1>Eliminar Producto</h1>

<h3>¿Está seguro de querer eliminar este registro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Código</dt>
        <dd class="col-sm-10">@Model.Codigo</dd>
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>
        <dt class="col-sm-2">Descripción</dt>
        <dd class="col-sm-10">@Model.Descripcion</dd>
        <dt class="col-sm-2">Precio Compra</dt>
        <dd class="col-sm-10">@Model.PrecioCompra.ToString("C")</dd>
        <dt class="col-sm-2">Precio Venta</dt>
        <dd class="col-sm-10">@Model.PrecioVenta.ToString("C")</dd>
        <dt class="col-sm-2">Stock</dt>
        <dd class="col-sm-10">@Model.Stock</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </form>
</div>