@model IEnumerable<Facturita.Core.Models.Producto>

@{
    ViewData["Title"] = "Productos";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio Compra</th>
            <th>Precio Venta</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Codigo</td>
            <td>@item.Nombre</td>
            <td>@item.Descripcion</td>
            <td>@item.PrecioCompra.ToString("C")</td>
            <td>@item.PrecioVenta.ToString("C")</td>
            <td>@item.Stock</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>