@model Facturita.Core.Models.Cliente

@{
    ViewData["Title"] = "Detalles del Cliente";
}

<h1>Detalles del Cliente</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>
        <dt class="col-sm-2">Apellido</dt>
        <dd class="col-sm-10">@Model.Apellido</dd>
        <dt class="col-sm-2">Identificación</dt>
        <dd class="col-sm-10">@Model.Identificacion</dd>
        <dt class="col-sm-2">Dirección</dt>
        <dd class="col-sm-10">@Model.Direccion</dd>
        <dt class="col-sm-2">Teléfono</dt>
        <dd class="col-sm-10">@Model.Telefono</dd>
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>
